<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="/assets/images/favicon.ico"/>
    <link rel="shortcut icon" href="/assets/images/favicon-16x16.png"/>
    <link rel="shortcut icon" href="/assets/images/favicon-32x32.png"/>
    <link rel="shortcut icon" href="/assets/images/favicon-96x96.png"/>
    <link href="/assets/css/fonts.css" rel="stylesheet"/>
    <link href="/assets/css/style-printer.css" media="only print" rel="stylesheet"/>
    <link href="/assets/css/style.css" media="only screen and (min-width: 1280px)" rel="stylesheet"/>
    <link href="/assets/css/style-phone.css" media="only screen and (min-width: 0px) and (max-width: 767px)" rel="stylesheet"/>
    <link href="/assets/css/style-tablet.css" media="only screen and (min-width: 768px) and (max-width: 1279px)" rel="stylesheet"/>
    <meta name="author" content="{{ page.authors | join: ', ' }}"/>
    <meta charset="utf-8"/>
	{% if page.excerpt %}<meta name="description" content="{{ page.excerpt | strip_html }}"/>{% endif %}
	<meta name="keywords" content="{{ page.tags | join: ', ' }}"/>
	<meta name="revisit-after" content="7 days"/>
    <meta name="viewport" content="initial-scale=1.0">
    <meta property="og:image" content="http://www.unetlab.com/assets/images/logo_rr.png">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="410">
    <meta property="og:image:height" content="201">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
</head>
<body>
<div id="body">
    <div id="header">
        <div id="header_left">
            <a href="/" title="Home"><div class="container" id="logo_rr"><img alt="Logo" src="/assets/images/logo_rr.png"/></div></a>
            <div class="container" id="logo_description">
                <div class="element">by Andrea Dainese</div>
            </div>
        </div>
        <div id="header_right">
            <div id="header_menu">
                <div class="container"><a href="/about/"><div class="aqua menu_page">About</div></a></div>
                <div class="container"><a href="/documentation/"><div class="menu_page">Documentation</div></a></div>
                <div class="container"><a href="/download/"><div class="menu_page">Download</div></a></div>
            </div>
            <div id="header_tags">
                <div id="header_spacer">&nbsp;</div>
                <div id="header_links">
                    <div class="first-container"><a href="/preview.html"><span class="menu_tag">Diary</span></a></div>
                    <div class="spacer"><img alt="Spacer" src="/assets/images/vertical_dots.gif"/></div>
                    <div class="container"><a href="/documentation/"><span class="menu_tag">How To</span></a></div>
                    <div class="spacer"><img alt="Spacer" src="/assets/images/vertical_dots.gif"/></div>
                    <div class="container"><a href="/documentation/supported-images/"><span class="menu_tag">Images</span></a></div>
                    <div class="spacer"><img alt="Spacer" src="/assets/images/vertical_dots.gif"/></div>
                    <div class="container"><a href="/releases.html"><span class="menu_tag">Releases</span></a></div>
                </div>
            </div>
        </div>
    </div>
