<div id="social">
	<a id="share_gmail" href="mailto:?subject=Link%20from%20{{ site.title | uri_escape }}&body={{ page.title | uri_escape }}%0A{{ site.url }}{{ page.url | uri_escape }}" title="Share via email"><img alt="Gmail icon" src="/assets/images/social_gmail.png"/></a>
	<a id="share_twitter" href="http://twitter.com/home?status={{ page.title | uri_escape }}+{{ site.url }}{{ page.url | uri_escape }}" target="_blank" title="Share via Twitter"><img alt="Twitter icon" src="/assets/images/social_twitter.png"/></a>
	<a id="share_facebook" href="http://www.facebook.com/share.php?u={{ site.url }}{{ page.url | uri_escape }}&title={{ page.title | uri_escape }}" target="_blank" title="Share via Facebook"><img alt="Facebook icon" src="/assets/images/social_facebook.png"/></a>
	<a id="share_linkedin" href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url | uri_escape }}&title={{ page.title | uri_escape }}" target="_blank" title="Share via LinkedIN"><img alt="LinkedIN icon" src="/assets/images/social_linkedin.png"/></a>
	<a id="share_gplus" href="https://plus.google.com/share?url={{ site.url }}{{ page.url | uri_escape }}" target="_blank" title="Share via Google+"><img alt="Google+ icon" src="/assets/images/social_gplus.png"/></a>
</div>
