* {
	border: 0px;
	font-family: 'DIN Regular', Helvetica, Arial, sans-serif;
}

body, html {
	height: 100%;
	overflow: auto;
	position: relative;
	width: 100%;
}

#header, #middle, #main_circle, #main_left, #main_privacy {
	display: none;
}

#main_right {
	padding: 10px;
}

code, pre {
    font-family: 'Courier New', Courier, monospace;
}

pre {
    margin: 10px;
    overflow: auto;
        border: 1px solid #46a6b6;
        border-left: 5px solid #46a6b6;
    padding: 5px;
}

