* {
	border: 0px;
	color: #58585a;
	font-family: 'DIN Regular', Helvetica, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	resize: both;
	text-decoration: none;
}

body, html {
	/* TODO setting min-width/min-height */
	height: 100%;
	overflow: auto;
	position: relative;
	width: 100%;
}

img, input[type='image'] {
	max-height: 100%;
	max-width: 100%;
}

#header {
	height: 230px;
	position: relative;
}

#header_left {
	height: 100%;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 410px;
}

#logo_rr {
	background-color: #3ba9ba;
	height: 180px;
	position: relative;
	width: 100%;
}

#logo_description {
	background-color: #ffffff;
	font-family: 'DIN Light', Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	height: 50px;
	position: relative;
	text-align: right;
	width: 100%;
}

#logo_description div {
	margin-right: 15%;
}

#header_right {
	background-color: #ffffff;
	position: absolute;
	height: 100%;
	left: 410px;
	right: 0px;
	top: 0px;
}

#header_menu {
	position: absolute;
	right: 10%;
	top: 0px;
	white-space: nowrap;
}

#header_menu .container {
	display: inline-block;
	width: 180px;
}

.menu_page {
	background-color: #58585a;
	color: #ffffff;
	font-family: 'DIN Bold', Helvetica, Arial, sans-serif;
	font-size: 1.0em;
	padding: 5px 0px 5px 0px;
	text-align: center;
	text-transform: uppercase;
}

.aqua {
	background-color: #3ba9ba;
}

#header_tags {
	bottom: 0px;
	height: 45%;
	left: 0px;
	position: absolute;
	right: 0px;
}

#header_spacer {
	background-color: #3ba9ba;
	bottom: 0px;
	height: 50px;
	position: absolute;
	left: 0px;
	width: 15px;
}

#header_links {
	border-bottom: 1px dotted #8b8c90;
	bottom: 0px;
	height: 100%;
	left: 75px;
	margin-bottom: 15px;
	position: absolute;
	right: 0px;
}

#header_links .container {
	display: inline-block;
	margin: 5px;
	width: 150px;
}

#header_links .first-container {
	display: inline-block;
	margin-bottom: 5px;
	width: 100px;
}

#header_links .spacer {
	display: inline-block;
	height: 100%;
	vertical-align: bottom;
	width: 1px;
}

.menu_tag {
	color: #89888c;
	font-family: 'DIN Regular', Helvetica, Arial, sans-serif;
	font-size: 1.0em;
	font-weight: bold;
	margin-right: 5px;
	text-align: center;
	text-transform: uppercase;
}

#header_links .first-container .menu_tag {
	text-align: left;
}

#header_links  .active {
	border-bottom: 5px solid #3ba9ba;
}

#header_links  a:hover, #header_links  a:active {
	border-bottom: 5px solid #3ba9ba;
}

#middle {
	height: 500px;
	position: relative;
}

#middle_left {
	background-color: #58585a;
	height: 100%;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 410px;
}

#middle_sitetitle  {
	margin: 70px 6% auto auto;
}

#middle_sitetitle  .title {
	color: #ffffff;
	font-family: 'DIN Light', Helvetica, Arial, sans-serif;
	font-size: 3.5em;
	text-align: right;
}

#middle_pagetitle  {
	background-color: #ffffff;
	margin: 20px -4% auto auto;
	z-index: 10;
}

#middle_pagetitle  .title {
	color: #58585a;
	font-family: 'DIN Bold', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	margin-right: 15%;
	padding: 10px 0px 10px 0px;
	text-align: right;
	text-transform: uppercase;
}

#middle_right {
	background-color: #46a6b6;
	bottom: 0px;
	left: 410px;
	position: absolute;
	right: 0px;
	top: 50px;
}

#middle_image {
	bottom: 0px;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
}

#main {
	margin: 45px 45px 45px 45px;
	position: relative;
}

#main_circle {
	left: 352px;
	position: absolute;
	top: 38px;
	z-index: 10;
}

#main_left {
	border-right: 1px dotted #8b8c90;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 365px;
}

#main_lefttop {
	border-bottom: 1px dotted #8b8c90;
	height: 50px;
	position: relative;
}

#main_leftmiddle {
	padding: 40px 20px 20px 20px;
	position: relative;
}

#main_right {
	border-left: 1px dotted #8b8c90;
	left: 365px;
	position: absolute;
	right: 0px;
	top: 0px;
}

#main_righttop {
	border-bottom: 1px dotted #8b8c90;
	height: 50px;
	padding: 0px 20px 0px 20px;
	position: relative;
}

#main_rightmiddle {
	padding: 40px 20px 20px 20px;
	position: relative;
}

.container {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.element {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
