{% include header.html %}
{% include middle.html %}
<div id="main">
	<div id="main_circle"><img alt="Dot" src="/assets/images/dot_aqua.gif"/></div>
	<div id="main_left">
		<div id="main_lefttop">&nbsp;</div>
		<div id="main_leftmiddle">
		</div>
	</div>
	<div id="main_right">
		<div id="main_righttop"><h1>{{ page.title }}</h1></div>
		<div id="main_rightmiddle">
			<div align="center">
				<form border="0" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="4JZ8NSV4YPYFY">
					<input type="image" style="border: 0px" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
					<img alt="" border="0" src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" width="1" height="1">
				</form>
			</div>
{{ content }}
            <div id="main_date">Posted on {{ page.date | date_to_string }} by {{ page.authors }}</div>
{% include social.html %}
            <div id="disqus_thread"></div>
        </div>
    </div>
</div>
{% include scripts.html %}
{% include footer.html %}
