{% include header.html %}
{% include middle.html %}
<div id="main">
	<div id="main_circle"><img alt="Dot" src="/assets/images/dot_aqua.gif"/></div>
	<div id="main_left">
		<div id="main_lefttop">&nbsp;</div>
		<div id="main_leftmiddle">
		</div>
	</div>
	<div id="main_right">
		<div id="main_righttop"><h1>{{ page.title }}</h1></div>
		<div id="main_rightmiddle">
<div align="center"><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"><input alt="PayPal - The safer, easier way to pay online!" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" type="image" />
<img src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" alt="" width="1" height="1" border="0" /></form></div>
{{ content }}
            <div id="main_date">Posted on {{ page.date | date_to_string }} by {{ page.authors }}</div>
{% include social.html %}
            <div id="disqus_thread"></div>
        </div>
    </div>
</div>
{% include scripts.html %}
{% include footer.html %}
